.container_index {
    margin: auto;
    display: grid;
    grid-template-columns: [firstl] 10% [secondl] 10% [midl] auto [midr] 10% [secondr] 10% [firstr];
    grid-template-rows: auto [title] auto [subtitle] auto [subtitleend] auto [playbutton] auto [topscores] auto [bott] auto;
    height: 97.5vh;
    width: 99vw;
}

.container_index > div {
    padding: 1.5vh 4vw;
    align-items: center;
}

.container_maingame {
    margin: auto;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: [ledge] 20% [ltoolbar] auto [gamescreen] 20% [redge];
    grid-template-rows: [tedge] 20% [gamescreen] auto [bottombar] 10% [bedge];
    grid-gap: 15px;
    height: 80vh;
    width: 70vw;
}

.container_gamescreen {
    display: grid;
    grid-column: ltoolbar / gamescreen;
    grid-row: gamescreen / bedge;
    background-color: #aaaaaa;
    grid-template-columns: [ledge] auto [mid] auto [redge];
    grid-template-rows: [tedge] 85% [bottombar] auto [bedge];
    grid-gap: 15px;
}

.container_gamescreen > div {
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    color: #111111;
    font-family: 'Cairo', sans-serif;
}

.container_maingame > div {
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    color: #111111;
    font-family: 'Cairo', sans-serif;
}

.popuptext {
    padding: 10px;
    text-align: center;
    color: #111111;
    font-family: 'Cairo', sans-serif;
}

.cargoscreen {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    grid-column: ledge / mid;
    grid-row: tedge / bottombar;
    background-color: #dddddd;
}

.verticalmenu {
    padding: 10px;
    background-color: #aaaaaa;
    border-radius: 15px;
    width: 80%;
    height: 300px;
    overflow-y: auto;
    margin: auto;
    text-align: left;
}

.list1{
    display: block;
    padding: 20px;
    background-color: #dddddd;
    border-radius: 15px;
    width: 25%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.station {
    grid-column: mid / redge;
    grid-row: tedge / bottombar;
    background-color: #dddddd;
}

.statusbar {
    grid-column: ledge / redge;
    grid-row: bottombar / bedge;
    background-color: #dddddd;
}

.planetbar {
    grid-column: ledge / ltoolbar;
    grid-row: tedge / bedge;
    background-color: #dddddd;
}

.info1 {
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    text-align: justify;
    border-radius: 15px;
    background-color: #aaaaaa;
    height: auto;
}

.info2 {
    display: block;
    padding: 20px;
    background-color: #dddddd;
    border-radius: 15px;
    width: 25%;
    height: 87%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.box {
    vertical-align: middle;
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin: 0 3%;
}

.products {
    text-align: center;
    border: none;
    border-collapse: collapse;
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
    color: #dddddd;
}

.topbar {
    grid-column: ltoolbar / gamescreen;
    grid-row: tedge / gamescreen;
}

.shipbar {
    grid-column: gamescreen / redge;
    grid-row: tedge / bedge;
    background-color: #dddddd;
}

.title {
    grid-column: firstl / firstr;
    grid-row: title / subtitle;
    text-align: center;
    padding-bottom: 2vw;
}

.subtitle {
    grid-column: firstl / firstr;
    grid-row: subtitle / subtitleend;
    text-align: center;
}

.playbutton {
    margin-top: 2vw;
    grid-column: firstl / firstr;
    grid-row: playbutton / topscores;
    text-align: center;
}

.highscores {
    grid-column: firstl / firstr;
    grid-row: topscores / bott;
    text-align: center;
}

.popup {
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    width: 450px;
    height: 500px;
    opacity: 0.8;
    text-align: center;
    color: #111111;
    background-color: #dddddd;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.startbutton {
    text-align: center;
    font-size: 5vw;
    border-collapse: collapse;
    text-decoration: none;
    padding: 0 1vw;
    border-radius: 1.2vw;
    border: none;
    outline: none;
    background: none;
    color: #b9ca45;
    font-family: "Permanent Marker", cursive;
    text-shadow: -4px 4px #111111;
    transition: background-color 1.2s;
    animation: pulse 2s infinite;
    width: 20vw;
}

.startbutton:hover {
    background-color: rgba(80,0,60,0.5);
}

.button {
    display: block;
    width: 35%;
    margin: 10% auto auto;
    text-decoration: none;
    color: #dddddd;
    background-color: #aaaaaa;
    transition: background-color 1.2s;
    padding: 5px;
    border-radius: 10px;
}

.button:hover {
    background-color: #888888;
}

.close {
    color: #aaaaaa;
    font-size: 50px;
    position: fixed;
    top: 5%;
    right: 5%;
    text-decoration: none;
    transition: color 1.2s;
}

.close:hover {
    color: #888888;
}

.nickname {
    padding: 10px;
    font-family: 'Cairo', sans-serif;
    font-size: 35px;
}

.glitched {
    color: rgba(188,230,0,1);
    text-shadow: -4px 4px #111111;
    font-size: 6vw;
    font-weight: 300;
    font-family: "Permanent Marker", cursive;
    line-height: 0;
    margin-bottom: 0;
    animation: glitch1 0.5s infinite;
}

.glitched:nth-child(2) {
    margin: 0;
    color: #67f3da;
    animation: glitch2 1.5s infinite;
}

.glitched:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
    margin: 0 0 20px;
}

.avatar {
    vertical-align: middle;
    height: 40px;
}

img {
    background-color: #aaaaaa;
    border-radius: 15px;
}

body {
    background: linear-gradient(90deg, rgba(80,0,60,1) 0%, rgba(17,17,17,1) 100%);
    animation: fadein 2s;
}

input {
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
    border: none;
    background-color: #aaaaaa;
    padding: 10px;
    border-radius: 10px;
}

b {
    font-weight: 600;
}

.scoretable {
    display: inline-table;
    width: 30vw;
    text-align: center;
    border: none;
    border-collapse: collapse;
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
    color: #dddddd;
}

.scoretable th {
    color: #b9ca45;
    font-family: "Permanent Marker", cursive;
    text-shadow: -4px 4px #111111;
    font-size: 3.5vw;
    padding: 2vh;
    text-align: center;
}

.scoretable td {
    width: 40%;
    padding: 0.5vh;
    font-size: 1.5vw;
    text-align: center;
}

.scoretable td a {
    width: 100%;
    color: #dddddd;
    text-align: center;
    text-decoration: none;
    transition: color 1.2s;
}

.scoretable td a:hover {
    color: #b9ca45;
}

.scoretable tr {
    transition: background-color 1.2s;
}

.scoretable tr.header:hover {
    background: none;
}

.scoretable tr:hover {
    background-color: rgba(80,30,60,0.5);
}

.menu1 {
    display: inline-table;
    width: 100%;
    text-align: center;
    border: none;
    border-collapse: collapse;
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
    color: #dddddd;
}

.menu1 th {
    color: #b9ca45;
    text-shadow: -4px 4px #111111;
    padding: 2vh;
    text-align: center;
}

.menu1 td {
    width: 40%;
    padding: 0.5vh;
    font-size: 15px;
    text-align: center;
}

.menu1 td a {
    width: 100%;
    color: #dddddd;
    text-align: center;
    text-decoration: none;
    transition: color 1.2s;
}

.menu1 td a:hover {
    color: #b9ca45;
}

.menu1 tr {
    transition: background-color 1.2s;
}

.menu1 tr.header:hover {
    background: none;
}

.menu1 tr:hover {
    background-color: #888888;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        color: #dddddd;
    }
    50% {
        color: #b9ca45;
    }
    100% {
        color: #dddddd;
    }
}

@keyframes glitch1 {
    0% {
        transform: none;
        opacity: 1;
    }
    7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
    }
    10% {
        transform: none;
        opacity: 1;
    }
    27% {
        transform: none;
        opacity: 1;
    }
    30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
    }
    35% {
        transform: none;
        opacity: 1;
    }
    52% {
        transform: none;
        opacity: 1;
    }
    55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
    }
    50% {
        transform: none;
        opacity: 1;
    }
    72% {
        transform: none;
        opacity: 1;
    }
    75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
    }
    80% {
        transform: none;
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes glitch2 {
    0% {
        transform: none;
        opacity: 0.25;
    }
    7% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
    }
    10% {
        transform: none;
        opacity: 0.25;
    }
    27% {
        transform: none;
        opacity: 0.25;
    }
    30% {
        transform: translate(-5px, -2px);
        opacity: 0.5;
    }
    35% {
        transform: none;
        opacity: 0.25;
    }
    52% {
        transform: none;
        opacity: 0.25;
    }
    55% {
        transform: translate(-5px, -4px);
        opacity: 0.5;
    }
    50% {
        transform: none;
        opacity: 0.25;
    }
    72% {
        transform: none;
        opacity: 0.25;
    }
    75% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
    }
    80% {
        transform: none;
        opacity: 0.25;
    }
    100% {
        transform: none;
        opacity: 0.25;
    }
}

@keyframes glitch3 {
    0% {
        transform: none;
        opacity: 0.25;
    }
    7% {
        transform: translate(2px, 3px);
        opacity: 0.5;
    }
    10% {
        transform: none;
        opacity: 0.25;
    }
    27% {
        transform: none;
        opacity: 0.25;
    }
    30% {
        transform: translate(4px, 2px);
        opacity: 0.5;
    }
    35% {
        transform: none;
        opacity: 0.25;
    }
    52% {
        transform: none;
        opacity: 0.25;
    }
    55% {
        transform: translate(3px, 1px);
        opacity: 0.5;
    }
    50% {
        transform: none;
        opacity: 0.25;
    }
    72% {
        transform: none;
        opacity: 0.25;
    }
    75% {
        transform: translate(2px, 3px);
        opacity: 0.5;
    }
    80% {
        transform: none;
        opacity: 0.25;
    }
    100% {
        transform: none;
        opacity: 0.25;
    }
}
